<h1>Ingrese su palabra</h1>
<form action= "/resultado" method="get">
  <fieldset>
    <label for="name">Palabra: </label><br>
    <input type="text" name="palabra">
  </fieldset>
    <input type="submit">
</form>
